<div class="GigCard">
  <img class="Thumbnail" alt="gigImage" src= {{gig.ImageURL}} />
  <div class="GigDetails">
      <h3>
          <a class="ArtistLink" href='#'>{{gig.Artist}}</a>
      </h3>
      <div>{{gig.Location}}</div>
      <div>{{gig.Time}}</div>
      <div  id={{collpseId}} class="collapse">{{gig.Description}}</div>
  </div>
  <div class="ActionArea">
      <button class="GoingButton btn" type="button">Going?</button>             
  </div>   
  <!-- I want collpseId  to be variable in HTML?-->
  <button class="ExpendButton material-icons" type="button" 
  data-toggle="collapse" [attr.data-target]= "'#'+collpseId" > 
  expand_more
</button>                
</div>