@import '~sass/variables';

.GigCard{
    background-color:$lightOrange;
    color: $textColorDark;    
    
    display: flex;
    position: relative;
    
}

.GigCard:hover{
    border: 1px solid $lightOrangeBorder;    
    box-shadow: 5px 5px 5px $lightGray;
}


.GigDetails{
    margin-left: $margin;
    margin-right: $margin;
    flex-grow: 1;
}
.ArtistLink{
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
}
$ThumbnailSize : 100px;
.Thumbnail{
    width: $ThumbnailSize;
    height: $ThumbnailSize;
}
.ActionArea{
    display: flex;   
    align-items: center;
       
    margin-right: $margin;
    margin-left: $margin; 
}
.Description{
    white-space: pre-wrap;
}

.GoingButton{
    background-color: $mainColor1;      
    color: $textColorLight;
    font-weight: bold;
    font-size: large;        
}
.GoingButton:hover{
    background-color: $mainColor2;
}

$transparent : rgba(0, 0, 0, 0);
.ExpendButton{   
    position: absolute;
    right: 0;
    bottom: 0;        
    padding: 0;   
    border: 0;
    margin: 0;

    background: $transparent;
}
.ExpendButton:hover{
    font-weight: bold;
}
