<div class="GigCard">
  <img class="Thumbnail" alt="gigImage" src= {{gig.ImageURL}} />
  <div class="GigDetails">
      <h3>
          <a class="ArtistLink" href='#'>{{gig.Artist}}</a>
      </h3>
      <div>{{gig.Location}}</div>
      <div>{{gig.Time}}</div>
      <div class="collapse" id={{collpseId}}>{{gig.Description}}</div>
  </div>
  <div class="ActionArea">
      <button class="GoingButton btn" type="button">Going?</button>             
  </div>   
  <button class="ExpendButton material-icons" type="button" 
  data-toggle="collapse" [attr.data-target]=collpseId
  aria-expanded="false" aria-controls="?">
  expand_more
</button>                
</div>