.navbarBackground{
    background-color: orangered;
    color: white;
    border:none;
    border-radius: 0;
   
}
.navbar-nav > li > a{
    color: inherit;
}
.navbar-brand{
    color: inherit;
    font-size: 2.5rem;
    font-family: cursive;
}