.bar{
    background-color: orangered;    
    border:none;
    border-radius: 0;   
    color: white;
    font-family: cursive;
}

.navbar-nav > li > a{
    font-size: 1.8rem;
    color: inherit;        
}
.navbar-brand{
    color: inherit;
    font-size: 3rem;    
}