@import '~sass/variables';

.bar{
    background-color:$mainColor2;    
    border:none;
    border-radius: 0;   
    color: $textColorLight;
    font-family: $headerFont;
}

.navbar-nav > li > a{
    font-size: 1.8rem;
    color: inherit;        
}
.navbar-brand{
    color: inherit;
    font-size: 3rem;    
}