h1{
    color:#FF8000;
}
.GigsList{
    display: block;
    padding: inherit;
    margin: auto;
}
.Gig{
    background-color:#FFE6CC;
    color: black;
    margin-bottom: 1em;
}
.GigDetails{
    margin-left: 1em;
}
.ArtistLink{
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    color: inherit;
}
.Time{
   
}
.Location{
   
}