h1{
    color: orangered;
}
.GigsList{
    display: block;
    padding: inherit;
    margin: auto;
}
.Gig{
    background-color:  rgba(255,127,80,0.5);
    display: block;
    color: black;
    margin-bottom: 1em;
}
.ArtistLink{
    font-weight: bold;
    font-size: xx-large;
    text-decoration: none;
    color: black;
}
.Time{
   
}
.Location{
   
}